*{
    margin: 0;
    padding: 0;
}

.guide{
    width: 98vw;
    margin-top: 1vw;
    margin-left: 1vw;
    height: 4.9vw;
    border-bottom: 0.1vw solid #ccc;
}

.hr{
    border-color: orange;
    border-width: 0.2vw;
    border-style: solid;
}

a{
    color: black;
    text-decoration: none;
}

ul li{
    list-style-type: none;
    float: left;
    box-sizing: border-box;
    font-size: 1.5vw;
    text-align: center;
    height: 4.5vw;
    padding: 1.5vw 2vw;
    line-height: 1.5vw;
}

ul li:hover{
    background-color: #eee;
}